<navegacion></navegacion>

<div class="container-fluid fondo">
  <div class="text-center"><img src="/assets/logopwso.png" alt="" height="150px" width="auto" class=" mt-5 mb-5"></div>
  
    <div class="row mb-4">
      
        <label for="" class="h2 text-center">Elige el servicio que mas se ajuste a tus necesidades</label>
        <p>El nombre que deberia traer es {{title}} </p>
    </div>
    <div class="row ">
        <div class="col-3 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title text-dark">Tienda virtual</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Servicio de programacion de pagina web</h6>
                  <p class="card-text">Servicio de generacion, asesoramiento y creacion de pagina web, junto con el dominio, los certificados de seguridad, y cambios gestionados y/o hasta 2 semanas luego del despliegue de la misma. Todo en la pagina es perzonalizable. El precio incluye 5 paginas, catalogo de produtos y pasarela de pago (tarjeta de debito, credito, etc)</p>
                  <a href="#" class="card-link">Mas informacion</a>
                </div>
              </div>
        </div>
        <div class="col-3 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title text-dark">Pagina empresarial</h5>
              <h6 class="card-subtitle mb-2 text-muted">Servicio de programacion de pagina web</h6>
              <p class="card-text">Servicio de generacion, asesoramiento y creacion de pagina web, junto con el dominio, los certificados de seguridad, y cambios gestionados y/o hasta 2 semanas luego del despliegue de la misma. Todo en la pagina es perzonalizable. El precio incluye 5 paginas, catalogo de produtos y pasarela de pago (tarjeta de debito, credito, etc)</p>
              <a href="#" class="card-link">Mas informacion</a>
            </div>
          </div></div>
        <div class="col-3 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title text-dark">Pagina de promocion</h5>
              <h6 class="card-subtitle mb-2 text-muted">Servicio de programacion de pagina web</h6>
              <p class="card-text">Servicio de generacion, asesoramiento y creacion de pagina web, junto con el dominio, los certificados de seguridad, y cambios gestionados y/o hasta 2 semanas luego del despliegue de la misma. Todo en la pagina es perzonalizable. El precio incluye 5 paginas, catalogo de produtos y pasarela de pago (tarjeta de debito, credito, etc)</p>
              <a href="#" class="card-link">Mas informacion</a>
            </div>
          </div></div>
        <div class="col-3 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title text-dark">Pagina perzonalizada</h5>
              <h6 class="card-subtitle mb-2 text-muted">Servicio de programacion de pagina web</h6>
              <p class="card-text">Servicio de generacion, asesoramiento y creacion de pagina web, junto con el dominio, los certificados de seguridad, y cambios gestionados y/o hasta 2 semanas luego del despliegue de la misma. Todo en la pagina es perzonalizable. El precio incluye 5 paginas, catalogo de produtos y pasarela de pago (tarjeta de debito, credito, etc)</p>
              <a href="#" class="card-link">Mas informacion</a>
            </div>
          </div></div>
    </div>
</div>
