
<div class="container-fluid login">
    <div class="row">
        <div class="col-6 imglogin">
        </div>
        <div class="col-6 colorlogin text-center">
            <img src="/assets/logopwso.png" alt="" height="150px" width="auto" class="mt-5">
            <form action="" class="form-login">
                
                <p class="fs-2 fw-bolder">INGRESO</p>
                <input type="text" placeholder="Ingrese su usuario" name="" id=""> <br>
                <input type="password" placeholder="Ingrese su contraseña" name="" id=""> <br>
                <button class="btn btn-warning text-center" routerLink="/tienda">INGRESAR</button>
            </form>
            <p class="h6 text-center mt-4">¿No tenes usuario? Registrate presionando<a class=" text-warning clickregistro" routerLink="/registro"> click aqui</a></p>

        </div>
    </div>
</div>